html {
    height: 100vh;
    z-index: -100;
    background-color: rgb(0,0,255);
    font-family:'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
}

body {
    width:100vw;
    /* height:100vh; */
    position:absolute;
    margin:0;
}

.name_container {
    color:rgb(255, 255, 255);
    font-size:2rem;
    position:fixed;
    height:100vh;
}
.name {
    /* text-align: center; */
    letter-spacing:0.7rem;
    position:absolute;
    width: 100vw;
    font-family:'Courier New', Courier, monospace;
    /* text-shadow: 0px 0px 20px rgb(0, 0, 0); */
    text-decoration:none;
    color:white;
}

#t {
    width:auto;
    margin-left: 20vw;
    margin-top: 100px;
    font-size: 10rem;
    transform: rotate(90 deg);
}
#o {
    margin-top: 50vh;
    text-align: center;
    font-size: 3rem;
}
#m {
    margin-right:30vw;
    bottom:50vh;
    text-align: right;
    transform: translate(-100px,0px);
    font-size: 5rem;

}
.icon {
    pointer-events: fill;
    transform: translate(0,0);
    text-decoration: none;
    letter-spacing: 0.2rem;
    color:rgb(0, 0, 0);
    font-size:2rem;
    z-index: 100;
    position: absolute;
    display:block;
    /* text-shadow: 0px 0px 20px rgb(0, 0, 0); */
}

.icon-img {
    position: absolute;
}


#flower {
    font-size: 3rem;
    bottom: 0;
    margin-left: 40vw;
}



.page_title {
    width:100%;
    color:black;
}





/*-------------------------- bio-------------------------- */

.self_img {
    width:200px;
    height:200px;
}

.self_img img {
    width:200px;
    height:200px;
}



.title {
    letter-spacing: 1rem;
}

.contact a {
    color:white;
    border-bottom:0cap;
    text-decoration: none;
}


.home {
    font-size:2rem;
    text-decoration: none;
    text-align: center;
}


/*-------------------------- photos-------------------------- */
.bg_white {
    background-color: white;
    display: flex;
    justify-content: center;
}

.photos {
    display: box;
    justify-content: center;
    padding-top: 100px;
}

.photo {
    margin-top: 150px;
    margin-bottom: 150px;
    width:calc(30vw + 100px);
    height:calc(30vw + 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    box-shadow: 10px 10px 30px rgb(220, 220, 220);
}

.photo img {
    width:30vw;
    height:30vw;
    position:absolute;
}